body{
    font-family: Roboto;
    font-size: 16px;
    margin: 0;
}

.header-fix{
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.header-container{
    width: 1024px;
    margin: auto;
}

.header-container h1{
    color: inherit;
    text-decoration: none;
}

.container{
    width: 1024px;
    margin: 84px auto 10px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    padding: 10px;
}

aside{
    float: right;
    width: 25%;
    margin-left: 1%;
    margin-right: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background-color: white;
}

h3{
    margin-bottom: 0px;
}

ul{
    margin-top: 10px;
}

article{
    text-align: justify;
}

.para{
    margin-bottom: 50px;
}

.form-element{
    display: table;
}

.form-element-div{
    display: table-row;
}

.form-element span{
    display: table-cell;
    margin-bottom: 10px;
}

.forms label{
    padding-right: 10px;
}

.forms-btn{
    text-align: right;
    margin-left: 285px;
}

.form-check{
    margin-left: 170px;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.form-element .form-element-div textarea{
    font-family: Roboto;
    font-size: 0.95em;
    padding: 4px;
    resize: none;
    width: 150px;
    border-radius: 5px;
    border: 1px solid rgba(153, 153, 153, 0.91);
    height: 100px;
}

.textlbl{
    vertical-align: text-top;
}

.result{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
    padding-left: 50px;
    margin-right: 5px;
    border-radius: 25rem;
    word-break: break-all;
}

.result ul{
    margin-bottom: 0;
}

text {
    color: darkred;
}

img{
    max-width: 250px;
}

.results{
    color: #155724;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
    padding-left: 50px;
    margin-bottom: 1rem;
    border-radius: 3rem;
    word-break: break-all;
}


.form-element-div #forms-btn3 {
    text-align: right;
    margin-left: 383px;
}

.form-element-div #num1{
    margin-left: 70px;
}

.form-element-div #num2{
    margin-left: 130px;
}

.form-element-div #num3{
    margin-left: 163px;
}

.form-element-div #num4{
    margin-left: 20px;
}


.form-element-div #id5{
    margin-left: 70px;
}

.form-element-div #id6{
    margin-left: 45px;
}

.form-element-div #id7{
    margin-left: 45px;
}

.form-element-div #id8{
    margin-left: 28px;
}

.form-element-div #id9{
    margin-left: 75px;
}

.form-element-div #id10{
    margin-left: 15px;
}

.form-element-div #id11{
    margin-left: 45px;
}

.form-element-div #id12{
    margin-left: 30px;
}

.form-element-div #id13{
    margin-left: 200px;
}

